@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700|Open+Sans:300');

body {
  color: #594f8b;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8rem;
  text-align: center;
}

.footer {
  color: #ffffff;
  background-color: #9a86f0;
}

.link-text-reverse {
  color: #ffffff;
}

.icon-btn {
  color: #ffffff;
  font-size: 24px;
  margin: 8px;
  text-align: center;
}
